{
  "presets": [
    "@babel/preset-env"
  ],
  "plugins": [
    [
      "module-resolver",
      {
        "alias": {
          "_algorithms": "./src/algorithms",
          "_utils": "./src/utils",
          "_data-structures": "./src/data-structures",
          "_constants": "./src/constants",
          "_src": "./src"
        }
      }
    ]
  ]
}
